.back {
	grid-area: b;
	width: 100%;
	height: 100%;
	background-image: url(../pics/photo.jpg);
	background-size: 100% 100%;
}

.avatar, .my_posts{
	padding-left: 5px;
}
.back img{
	width: auto;
	height: 200px;
	position: absolute;
}
.avatar img{
	grid-area: img;
	width: 100px;
	height:100px;
	transition-duration: 1s;
	position:relative;

}

/* .avatar img:hover {
	padding:0;
	width: 200px;
	height: 200px;
} */
.person_info {
	grid-area: pi;
}

.content {
display: grid;
grid-template-areas:
"b b"
"img mp";

grid-template-rows: 2fr 1fr 1fr;
grid-template-columns: .6fr 5fr;
grid-gap: 5px;
}