.posts{
	grid-area: p;
	background-color: ghostwhite;
}
.item {
	
	font-style: italic;
}
.item img {
	border-radius: 30px;
	width: 30px;
	height: 30px;

}
.button {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 3px;
	border-radius: 4px;
	border: 1px solid rgb( 33, 126, 74 );
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
button:hover {
	cursor: pointer
}
.counter {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.number {
	box-sizing: border-box;
	padding-top: 6px;
	border: 2px solid;
	border-radius: 15px;
	font-family: inherit;
	font-weight: bold;
	font-size: 13px;
	line-height: 5px;
	width: 20px;
	height: 20px;
	text-align: center; 
	vertical-align: middle;
	background-color: orange;
	margin-top: -3px;
	margin-left: 2px;
}
span{
	padding-left: 4px;
}
