.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	color: beige;
}
.dialog_items{
	margin: auto;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.item.active{
	color: gold;
}
.messages {
	margin: auto;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.newMessage {
	
	margin-left: 320px;  
}
.button {
	display: block;
	border-radius: 4px;
	/*margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 3px;
	
	border: 1px solid rgb( 33, 126, 74 );
	box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
}
button:hover {
	cursor: pointer
}